body{
    padding: 0;
    margin: 0;
    font-family: 'Calibri', sans-serif;
}
h1{
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

.type-parrent h1{
    background-size: 200%;
    /* background: linear-gradient(to right, #db6990, #b14955, #354f52, #83adc8); */
    background: linear-gradient(to right, #d28cc6, #e96a76, #569b4c, #24714d);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.type-parrent{
    display: flex;
}

.type-parrent h1{
    overflow: hidden;
    white-space: nowrap;
    border-radius: 1px solid;
    animation: typing 0.7s steps(12) forwards,
    blink 1s step-end infinite;
}

@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}

/* .typing {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;
  animation: typing 2s steps(12) forwards;
}

@keyframes typing {
  to {
    width: 8ch;
  }
} */

#black-button{
    padding: 1rem;
    color: rgb(220, 220, 220);
    background-color: black;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

#black-button:hover{
    padding: 1rem;
    color: rgb(226, 226, 226);
    background-color: rgb(60, 60, 60);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transform: scale(1.05);

}

/* navbar */

.navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
    display:flex;
    justify-content: space-between;
    background-color    : white;
    align-items: center;
    padding-left: 6rem;
    padding-right: 6rem;
    box-shadow:5px 5px 15px rgba(0, 0, 0, 0.3);
}

.navbar

.nav-right{
    display: flex;
    gap: 3rem;
}

.nav-right button{
    font-size:la;
    margin: 0%;
    border: 0;
    padding: 1rem;
    background-color: white;
    color: grey;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

.nav-right button:hover{
    color: black;
    background-color: rgb(241, 241, 241);
    transform: scale(1.05);

}

.nav-left{
    display: flex;
    justify-content:center ;
    align-items: center;
}
.nav-left h1{
    cursor: pointer;
}
.nav-left img{
    width: 30px;
    height: 30px;
    margin: 5px;
}
/* Hero */

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10rem;
    padding-right: 10rem;
}
.hero-left h1{
    font-size:4rem;
    color: black;
}

.hero-left p{
    font-weight:600;
    padding-right:4rem ;
    margin-bottom: 2rem;
}

.hero-right img{
    margin: 3rem;
    margin-right: 0;
    border-radius:1.5rem ;   
    width:700px;
    height: auto;
}

/* Features */
.features{
    margin: 3rem;
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 5rem;
}

.row1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 8rem;
    gap: 1rem;
    margin-bottom: 4rem;
}

.row2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 8rem;
    gap: 1rem;
}

.feature-card{
    background-color: rgb(236, 236, 236);
    max-width:14em;
    padding: 2.5rem 2rem 2rem 2rem;
    border-radius: 18px;
    position: relative;

}

.cards h1{
    color: black;
    font-size: 1.7rem;
    margin-bottom: 20px;
    font-weight:bold;
}

.cards p{
    color: rgb(106, 106, 106);
    font-weight: 500;
}

.cards img{
    position: absolute;
    top: -25px;
    left: -1px;

}

.our-products{
    text-align: center;
    margin: 4rem 0 3rem 0;
    font-size: larger;
    font-weight: 900;
}
.pro-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 16rem;
    gap: 5rem;
}

.pro-card h1{
    font-size: 2.5rem;
    font-weight: 900;
}

.pro-card p{
    font-size: larger;
    font-weight: 900;
    color: rgb(143, 143, 143);
}

.footer{
    margin: 0;
    background-color: rgb(36, 36, 36);
}

.foot-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 4rem ;
    padding: 1rem;

}

.foot-logo{
    display: flex;
    align-items: center;
}
.foot-logo h1{
    color: white;
}
.foot-logo img{
    width: 30px;
    height: 30px;
    margin: 5px;
}

.footer p{
    color: white;
}

#x{
    color: white;
    background-color: white;
    border-radius: 6px;
}

.contact-us-socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.7rem;

}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;

}

.socials img{
    width: 40px;
    height: 40px;
    margin: 1rem;
}

.socials p {
  text-decoration: none;
  color: rgb(0, 0, 0); 
}

.socials p:visited {
      text-decoration: none;
        color: rgb(0, 0, 0); 
}

.socials p:hover {
      text-decoration: none;
     color: gray; 
}
